################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ReviewApp/FileContentIndex/27e559da-0661-4099-bc13-863342213c93.vsidx
/.vs/ReviewApp/FileContentIndex/59f9a954-f632-4f24-a2c0-84d7aafa6d70.vsidx
/.vs/ReviewApp/FileContentIndex/5bf27438-e046-4af5-a15b-7169774b0a3a.vsidx
/.vs/ReviewApp/FileContentIndex/7d0ec17d-637a-4849-8d61-58bd66f5869c.vsidx
/.vs/ReviewApp/FileContentIndex/9c65b411-5902-406a-9010-c2a92d8a5df7.vsidx
/.vs/ReviewApp/FileContentIndex/c40864db-6f21-42db-9cf4-d88ee25abc39.vsidx
