################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ReviewApp/FileContentIndex/27e559da-0661-4099-bc13-863342213c93.vsidx
